/* CSS Document */
body,td,th {
	font-size: 12px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
input,select,textarea
{
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
}
.STYLE1 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.STYLE2 {
	color: #FFFFFF;
}
.input1 {
	background-color: #E7E7E7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: inset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: inset;
	border-top-color: #666666;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #666666;
}
