.cl:after {  display: block; height: 0; clear: both; visibility: hidden; }

*{margin:0; padding:0;}

.frame {  border: 1px solid #e1e1e1; background: #FFF; }
.title { padding: 0 10px; height: 32px; font-size: 14px; font-weight: 700; line-height: 32px; overflow: hidden; }

.temp { margin: 1px; }

.slideshow { clear: both; height:288px;}
    .slideshow li { position: relative; overflow: hidden; }
    .slideshow span.title { position: absolute; bottom: 0; left: 0; margin-bottom: 0; width:320; height: 32px; line-height: 32px; font-size: 14px; text-indent: 10px; }
   

.slidebar li { float: left; margin-right: 1px; width: 20px; height: 20px; line-height: 20px; text-align: center; font-size: 10px; cursor: pointer;  }
    


ul, li { list-style: none; }
a:hover { text-decoration: underline; color: #a50001; }

.frame { background: none; border: 0px solid #fff; margin-bottom: 0px; }
.temp { margin: 0; }
.slidebar { position: absolute; top: 263px; left: 245px; }
    .slideshow span.title, .slidebar li { background: rgba(0,0,0,0); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #90000000,endColorstr = #90000000); color: #FFF; overflow: hidden; }
        .slidebar li.on { background:#ff7d0d; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #90000000,endColorstr = #90000000); color: #FFF; font-weight: 700; }

.slideshow SPAN.title { text-indent: 0px; }
.block { margin: 0;position: relative; }
#frameHlicAe { margin: 0px !important; border: 0px !important; }
.comiis_wrap960, .comiis_wrapad { width: 330px; }

.comiis_wrapad { overflow: hidden; }
    .comiis_wrapad img { float: left; margin-top: 0px; }

#slidesImgs li { width: 330px; height: 288px; display: none; margin:0 !important;}

#slidesImgs{margin:0 !important;}

.xbt_js{background:#fff8e6; height:28px; width:330px; text-align:center;}


.xbt_js p{font-size:12px; font-family:"宋体"; line-height:28px;}