body {
  margin: 0px;
  padding: 10px;
  color: #192E32;
  font: 12px "sans-serif", "Arial", "Verdana";
  background: #DDEEF2;
}
table{font-size:12px;}
img{border:0;}
input, textarea, select 
{
  	font: 12px "courier new";
}
a {color: #335B64;text-decoration: none;}
a:hover {color: #EB8A3D;text-decoration: underline;}
/* form */
input.capital{text-transform: uppercase;}


.font {	font-size: 12px;color: #000000;}
.font2 {	font-size: 12px;color: #FFFFFF;}
.input_text { width:180px; padding-left:5px; height:20px; font-size: 14px; line-height:20px; background:url(images/input_text_bj.gif) repeat-x; border:1px solid #B4B4B4;}
.input_text:hover { border-color:#839cb2;}

input.submit {
  padding: 2px 8px 0px;
  margin: 2px 2px;
  border: 1px solid #2D5082;
  background: url(button_bg.gif) repeat-x;
}
.input_btn:hover {font-weight: bold;}


input.lavel{
	border:1px solid #278296;
  	border-right:2px solid #278296;
  	border-bottom:2px solid #278296;	
	padding:2px 0px 2px 10px;
	background:#DDEEF2 url(images/icon_add.gif) no-repeat 3px center;
	height:25px;
}

#headerTable
{
	background: #F4FAFB;
  	border: 1px solid #BBDDE5;
	color:#335B64;	
	margin: 0 0 5px 0;
  	overflow:hidden;
}
#headerTable td{padding:5px 8px; font-weight:bold;font-size:12px;}

#Main_menu
{
	background: #F4FAFB;
  	border: 1px solid #BBDDE5;
	color: #9CACAF;	
	margin: 0 0 5px 0;
  	overflow:hidden;
}
#Main_menu td{padding:5px 5px; font-size:12px;}

#footerTable
{
	border:1px #BBDDE5 solid;
	background-color:#F4FAFB;
	color:#9CACAF;
	padding:10px;
	margin-top:10px;
	text-align:center;
	line-height:160%;
}
#footerTable td{padding:10px;line-height:160%;}
#mainTable
{
	width: 100%;
	background: #F4FAFB;
	border: 1px solid #FF0000;
}
#mainTable th
{
	background-color:#BBDDE5;
	height:25px;
	font-weight:bold;
}
#mainTable td
{
	background: #F4FAFB;
	height:25px;
	padding:0px 5px;
}
#tt
{background:#00FF99
}

/* 列表样式 */


#mainTable1
{
	width: 100%;
	background: #F4FAFB;
}
#mainTable1 th
{
	background-color:#BBDDE5;
	font-weight:bold;
}
#mainTable1 td
{
	background: #F4FAFB;
	padding:0px 0px;
}

tr#title td{background-color:#BBDDE5;height:25px;font-weight:bold;}




#editTable
{
	margin:10px 0px;
}

table.form-div {
  background: #F4FaFb;
  border: 1px solid #BBDDE5;
  padding: 5px;
  color: #808080;
  margin: 0 0 10px 0;
}

table.form-div td{padding:10px 16px;}

#explain{
  background: #F4FaFb;
  border: 1px solid #BBDDE5;
  padding: 10px;
  color: #808080;
  margin: 0 0 10px 0;
  height:60px;
  font-size:14px;
  line-height:160%;
  color:#FF0000;
}

#mainTable{width: 100%;background: #E3F1F4;border: 1px solid #BBDDE5;}
#mainTable1{background: #E3F1F4;}
#mainTable td{background:#F4FAFB;}